rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allows full developer CMS editing of all collections in the sandbox environment
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
